header{
  position:relative;
  background-color: white;
  padding:0;
  border:1px solid gray;
}

a{
  color:gray;
}

a:hover{
  background:gray;
  color:white;
  cursor:pointer;
}

.container{
  margin:0px auto;
  display:flex;
  justify-content: space-between;
}
a.Logo{
  font-weight:900;
  padding:1rem;
}
ul{
  list-style-type:none;
  margin:0;
  display:flex;
}
ul a{
  padding:1rem;
  display:inline-block;
}

a span{
  background:#ff4d4d;
  color:white;
  padding:0.1rem 0.45rem;
  border-radius: 100rem;
  font-size:0.9rem;
}

.menu-container{
  position:relative;

}

.menu{
  position:absolute;
  z-index:1;
  background: whitesmoke;
  display:none;
}
.menu-container:hover .menu{
  display:block;
}
.menu a{
  width:100%;
  min-width: 8rem;

}
.fancy-marquee {
  font-size: 1.5rem; /* Larger text size */
  font-weight: bold; /* Bold text */
  color: black; /* White text */

  padding: 10px 20px; /* Add some padding */
  border-radius: 5px; /* Rounded corners */

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Text shadow for depth */
  animation: glow 2s infinite alternate; /* Glow effect */
}


