<div class="container">
  <div class="details">
    <!-- Page Title -->
    <app-title title="Login"></app-title>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <!-- Email Input -->
      <text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email">
      </text-input>

      <!-- Password Input with Toggle -->
      <div class="password-field">
        <text-input
          [control]="fc.password"
          [showErrorsWhen]="isSubmitted"
          [type]="passwordFieldType"
          label="Password">
        </text-input>
        <button type="button"
        class="toggle-password"
        (click)="togglePasswordVisibility()">
        {{ passwordFieldType === 'password' ? 'Show' : 'Hide' }}
      </button>

  </div>


      <!-- Login Button -->
      <default-button text="Login"></default-button>

      <!-- Register Link -->
      <div class="register">
        New user? &nbsp;
        <a
          routerLink="/register"
          [queryParams]="{ returnUrl: returnUrl }">
          Register here
        </a>
      </div>
    </form>
  </div>
</div>
